.syntax--source.syntax--elm {
    .syntax--support.syntax--module {
        color: @brown;
    }

    .syntax--variable.syntax--field {
        color: @brown;
        font-style: italic;
    }

    .syntax--type.syntax--union {
        color: @blue;
    }

}
