.syntax--source.syntax--rust {
    .syntax--fn {
        font-style: italic;
    }

    .syntax--unsafe {
        color: @red_bright;
    }

    .syntax--field,
    .syntax--pattern-binding,
    .syntax--match-remaining,
    .syntax--error-propagation {
        color: @brown;
    }

    .syntax--lifetime {
        color: @brown;
        font-style: italic;
    }

    .syntax--loop-label {
        color: @brown;
        text-decoration: underline;
    }

    .syntax--parameter {
        color: @orange;
    }

    .syntax--self {
        color: @orange;
        font-style: italic;
    }

    .syntax--class,
    .syntax--support.syntax--constant {
        color: @blue;
        text-decoration: underline;
    }

    .syntax--macro {
        color: @blue;
    }

    .syntax--variable.syntax--language {
        color: @orange;
    }

    .syntax--attribute-name {
        color: @yellow;
    }
}
